<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100" fxLayout="column">
        <div fxLayout="row">
            <md-card fxFlex>
            	<md-card-content fxLayout="row" class="my-0">
            		<div fxFlex="33" fxLayout="column">
            			<div>
                			<img *ngIf="showHeader" src="/assets/images/metaware_logo.png" height="25px">
            			</div>
            			<div>
                    		<button md-button (click)="showHeader=!showHeader;" class="mr-1">{{showHeader?'Hide':'Show'}}</button>
            			</div>
            		</div>
            		<div fxFlex="33" fxLayoutAlign="center">
                        <h1 class="my-1">{{'Bill' | translate}}</h1>
            		</div>
            		<div fxFlex="33" dir="ltr">
            			<h5 class="my-0 text-lg text-weight-bold">NKC SOFT LABS</h5>
            			<p class="my-0 text-lg text-weight-bold">77777 Phone</p>            			
            		</div>            		
            	</md-card-content>
            </md-card>
        </div>
        <div fxLayout="row">
            <md-card fxFlex>
                <md-card-content>
                    <form fxLayout="column">
                        <div fxLayout="row">
                            <div fxLayout="column" fxFlex class="mx-1">
                                <div fxLayout="row">
                                    <button md-icon-button (click)="openSearchProgressDialog()">
                                        <md-icon>search</md-icon>
                                    </button>
                                    <md-input-container class="mb-1" fxFlex>
                                        <input mdInput [(ngModel)]="customer.name" name="customerName" placeholder="{{'Customer Name' | translate}}">
                                    </md-input-container>
                                </div>
                                <md-checkbox [(ngModel)]="customer.isDelivered" name="isDelivered">{{"Delivered" | translate}}</md-checkbox>
                            </div>
                            <div fxLayout="column" fxFlex class="mx-1">
                                <div fxLayout="row">
                                    <!-- <button md-icon-button><md-icon>date_range</md-icon></button> -->
                                    <material-datepicker [(date)]="customer.date" name="date" class="mb-1" placeholder="{{'date' | translate}}" fxFlex></material-datepicker>
                                </div>
                                <div fxLayout="row">
                                    <button md-icon-button class="my-1">
                                        <md-icon>attach_money</md-icon>
                                    </button>
                                    <md-select fxFlex placeholder="{{'Quality of Payment' | translate}}" [(ngModel)]="customer.quality" name="qualityOfPayment" class="my-1">
                                        <md-option *ngFor="let qualityOfPayment of qualityOfPayments" [value]="qualityOfPayment.value">
                                            {{qualityOfPayment.viewValue | translate}}
                                        </md-option>
                                    </md-select>
                                </div>
                                <div fxLayout="row" *ngIf="customer.quality==2">
                                    <button md-icon-button (click)="openListOfAccountDialog()">
                                        <md-icon>search</md-icon>
                                    </button>
                                    <md-input-container fxFlex>
                                        <input mdInput [(ngModel)]="customer.accountNumber" name="accountNumber" placeholder="{{'Account Number'  | translate}}">
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <md-input-container fxFlex>
                                <textarea mdInput [(ngModel)]="customer.detail" name="detail" placeholder="{{'Details'  | translate}}"></textarea>
                            </md-input-container>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
        <div fxLayout="row">
            <md-card fxFlex>
                <md-card-actions>
                </md-card-actions>
                <md-card-content>
                    <div fxLayout="column">
                    	<div fxLayout="row">
                    		<div fxFlex fxLayout="row" class="ml-1">
                    			<button md-icon-button (click)="openListOfProductDialog()" color="primary" class="mr-1">
                    				<md-icon>search</md-icon>
                    			</button>
	                    		<md-input-container>
	                    			<input type="text" name="" mdInput [(ngModel)]="product.name" placeholder="Product Name">
	                    		</md-input-container>
                    		</div>
                    		<div fxFlex>
	                    		<md-input-container fxFlex>
	                    			<input type="number" name="" mdInput [(ngModel)]="product.price" (change)="quantityTotal()" placeholder="Price">
	                    		</md-input-container>                    			
                    		</div>
                    		<div fxFlex>
	                    		<md-input-container fxFlex>
	                    			<input type="number" name="" mdInput [(ngModel)]="product.quantity" (change)="quantityTotal()" placeholder="Quantity">
	                    		</md-input-container>                    			
                    		</div>
                    		<div fxFlex>
	                    		<md-input-container fxFlex>
	                    			<input type="text" name="" mdInput [(ngModel)]="product.total"  placeholder="Total" readonly="disabled">
	                    		</md-input-container>                    			
                    		</div>
                    		<div fxFlex>
                    			<button md-button color="accent" (click)="checkOut()">
                    				<!-- <md-icon>add</md-icon> -->
                    				Add to List
                    			</button>
                    		</div>
                    	</div>
                    	<md-divider></md-divider>
                        <div fxLayout="row" class="mt-2">
                            <ngx-datatable fxFlex [rows]="rows" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="false" [scrollbarH]="false" class="material striped">
                                <ngx-datatable-column [flexGrow]="1" name="Product Name"></ngx-datatable-column>
                                <ngx-datatable-column [flexGrow]="1" name="Price"></ngx-datatable-column>
                                <ngx-datatable-column [flexGrow]="1" name="Quantity"></ngx-datatable-column>
                                <ngx-datatable-column [flexGrow]="1" name="Total"></ngx-datatable-column>
                                <ngx-datatable-column [flexGrow]="1" name="Actions">
                                	<template ngx-datatable-cell-template let-value="value" let-row="row">
                                		<button md-button color="red" (click)="delete(row)">
                                			<md-icon>delete</md-icon>
                                		</button>                                		
                                	</template>                                	
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div fxLayout="row" *ngIf="netTotal > 0" class="pr-0 pl-1">
                        	<div fxFlex="74" fxLayout="column" dir="ltr" class="">
                        		<div class="py-1 pl-1 text-weight-bold border">Net Total</div>
                        		<div class="py-1 pl-1 text-weight-bold border">Tax %</div>
                        		<div class="py-1 pl-1 text-weight-bold border">Total</div>
                        	</div>
                        	<div fxFlex="26" fxLayout="column" class="">
                        		<div class="py-1 pr-1 text-weight-bold border">{{netTotal}}</div>
                        		<div class="py-1 pr-1 text-weight-bold border">{{tax}}</div>
                        		<div class="py-1 pr-1 text-weight-bold border">{{grandTotal}}</div>
                        	</div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div fxLayout="row">
            <md-card fxFlex>
                <md-card-actions class="pr-2">
                    <button md-button md-raised-button color="primary" (click)="signUp()" >{{'Sign Up' | translate}}</button>
                    <button md-button md-raised-button color="primary">{{'Open The Printer' | translate}}</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
