<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100" fxLayout="column">
        <div fxLayout="row">
            <md-card fxFlex>
            	<md-card-content fxLayout="row">
            		<div fxFlex="50">
                		<img *ngIf="showHeader" src="/assets/images/metaware_logo.png" height="40px">
            		</div>
            		<div fxFlex="50" dir="ltr">
            			<h5>NKC SOFT LABS</h5>
            			<p>77777 Phone</p>            			
            		</div>            		
            	</md-card-content>
                <md-card-actions>
                    <button md-button (click)="showHeader=!showHeader;" class="mr-1">{{showHeader?'Hide':'Show'}}</button>
                </md-card-actions>
            </md-card>
        </div>
        <div fxLayout="row">
            <md-card fxFlex>
                <md-card-header class="" fxFlex fxLayoutAlign="center">
                    <md-card-title class="py-0" fxFlex>
                        <h1 class="my-1">{{'Bill' | translate}}</h1></md-card-title>
                </md-card-header>
                <md-card-content>
                    <form fxLayout="column">
                        <div fxLayout="row">
                            <div fxLayout="column" fxFlex class="mx-1">
                                <div fxLayout="row">
                                    <md-input-container class="mb-1" fxFlex>
                                        <input mdInput [(ngModel)]="customer.name" name="customerName" placeholder="{{'Customer Name' | translate}}">
                                    </md-input-container>
                                    <button md-icon-button (click)="openSearchProgressDialog()">
                                        <md-icon>search</md-icon>
                                    </button>
                                </div>
                                <md-checkbox [(ngModel)]="customer.isDelivered" name="isDelivered">{{"Delivered" | translate}}</md-checkbox>
                            </div>
                            <div fxLayout="column" fxFlex class="mx-1">
                                <div fxLayout="row">
                                    <!-- <button md-icon-button><md-icon>date_range</md-icon></button> -->
                                    <material-datepicker [(date)]="customer.date" name="date" class="mb-1" placeholder="{{'date' | translate}}" fxFlex></material-datepicker>
                                </div>
                                <div fxLayout="row">
                                    <button md-icon-button class="my-1">
                                        <md-icon>attach_money</md-icon>
                                    </button>
                                    <md-select fxFlex placeholder="{{'Quality of Payment' | translate}}" [(ngModel)]="customer.quality" name="qualityOfPayment" class="my-1">
                                        <md-option *ngFor="let qualityOfPayment of qualityOfPayments" [value]="qualityOfPayment.value">
                                            {{qualityOfPayment.viewValue | translate}}
                                        </md-option>
                                    </md-select>
                                </div>
                                <div fxLayout="row" *ngIf="customer.quality==2">
                                    <md-input-container fxFlex>
                                        <input mdInput [(ngModel)]="customer.accountNumber" name="accountNumber" placeholder="{{'Account Number'  | translate}}">
                                    </md-input-container>
                                    <button md-icon-button (click)="openListOfAccountDialog()">
                                        <md-icon>search</md-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <md-input-container fxFlex>
                                <textarea mdInput [(ngModel)]="customer.detail" name="detail" placeholder="{{'Details'  | translate}}"></textarea>
                            </md-input-container>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
        <div fxLayout="row">
            <md-card fxFlex>
                <md-card-actions>
                </md-card-actions>
                <md-card-content>
                    <div fxLayout="column">
                    	<div fxLayout="row">
                    		<div fxFlex fxLayout="row" class="ml-1">
	                    		<md-input-container>
	                    			<input type="text" name="" mdInput [(ngModel)]="product.name" placeholder="Product Name">
	                    		</md-input-container>
                    			<button md-icon-button (click)="openListOfProductDialog()" color="primary" class="mr-1">
                    				<md-icon>search</md-icon>
                    			</button>
                    		</div>
                    		<div fxFlex>
	                    		<md-input-container fxFlex>
	                    			<input type="number" name="" mdInput [(ngModel)]="product.price" (change)="quantityTotal()" placeholder="Price">
	                    		</md-input-container>                    			
                    		</div>
                    		<div fxFlex>
	                    		<md-input-container fxFlex>
	                    			<input type="number" name="" mdInput [(ngModel)]="product.quantity" (change)="quantityTotal()" placeholder="Quantity">
	                    		</md-input-container>                    			
                    		</div>
                    		<div fxFlex>
	                    		<md-input-container fxFlex>
	                    			<input type="text" name="" mdInput [(ngModel)]="product.total"  placeholder="Total" readonly="disabled">
	                    		</md-input-container>                    			
                    		</div>
                    		<div fxFlex>
                    			<button md-button (click)="checkOut()">Checkout</button>
                    		</div>
                    	</div>
                    	<md-divider></md-divider>
                        <div fxLayout="row">
                            <ngx-datatable fxFlex [rows]="rows" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="false" [scrollbarH]="false" class="material">
                                <ngx-datatable-column [flexGrow]="2" name="Product Name"></ngx-datatable-column>
                                <ngx-datatable-column [flexGrow]="1" name="Price"></ngx-datatable-column>
                                <ngx-datatable-column [flexGrow]="2" name="Quantity"></ngx-datatable-column>
                                <ngx-datatable-column [flexGrow]="1" name="Total"></ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div fxLayout="row" *ngIf="netTotal > 0">
                        	<div fxFlex="25"></div>
                        	<div fxFlex="25"></div>
                        	<div fxFlex="25" fxLayout="column">
                        		<div>Net Total</div>
                        		<div>Tax %</div>
                        		<div>Total</div>
                        	</div>
                        	<div fxFlex="25" fxLayout="column">
                        		<div>{{netTotal}}</div>
                        		<div>{{tax}}</div>
                        		<div>{{grandTotal}}</div>
                        	</div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div fxLayout="row">
            <md-card fxFlex>
                <md-card-actions class="pr-2">
                    <button md-button md-raised-button color="primary">{{'Sign Up' | translate}}</button>
                    <button md-button md-raised-button color="primary">{{'Open The Printer' | translate}}</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
