<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxFlex="100" fxLayout="column">
		<md-card fxFlex="100">
			<md-card-header class="" fxFlex align="center">
				<md-card-title class="py-0" fxFlex><h1 class="my-1">{{'Bill' | translate}}</h1></md-card-title>
			</md-card-header>
			<md-card-content>
				<form fxLayout="column">
					<div fxLayout="row">					
						<div fxLayout="column" fxFlex class="mx-1">
							<md-input-container class="mb-1">
				            	<input mdInput [(ngModel)]="customer.name" name="customerName"  placeholder="{{'Customer Name' | translate}}" >
				          	</md-input-container>
		          			<md-checkbox [(ngModel)]="customer.isDelivered" name="isDelivered" >{{"Delivered"  | translate}}</md-checkbox>
						</div>
						<div fxLayout="column" fxFlex class="mx-1">
							<!-- <ng2-datepicker [options]="customer.options" [(ngModel)]="customer.date" name="date"></ng2-datepicker> -->
				          	<!-- <md-input-container>
				            	<input mdInput [(ngModel)]="customer.date" name="date" placeholder="Date" ng2-datetime-picker date-only="true">
				          	</md-input-container> -->
				          		<!-- <input mdInput material-datepicker [(ngModel)]="customer.date" name="date"> -->
			          		<material-datepicker [(date)]="customer.date" name="date" class="mb-1" placeholder="{{'date' | translate}}"></material-datepicker>
<!-- 				          	<md-input-container class="mb-1">
				            	<input mdInput [(ngModel)]="customer.date" name="date" placeholder="Date">
				          	</md-input-container> -->
				          	<md-select placeholder="{{'Quality of Payment' | translate}}" [(ngModel)]="customer.quality" name="qualityOfPayment"  class="my-1">
		    					<md-option *ngFor="let qualityOfPayment of qualityOfPayments" [value]="qualityOfPayment.value">
		      						{{qualityOfPayment.viewValue  | translate}}
		    					</md-option>
		  					</md-select>
				          	<md-input-container *ngIf="customer.quality==2">
				            	<input mdInput  [(ngModel)]="customer.accountNumber" name="accountNumber" placeholder="{{'Account Number'  | translate}}">
				          	</md-input-container>
						</div>
					</div>
					<div fxLayout="row" class="mb-1">
						<div fxLayout="column" fxFlex class="mx-1">
				          	<md-input-container>
				            	<textarea mdInput [(ngModel)]="customer.detail" name="detail" placeholder="{{'Details'  | translate}}"></textarea>
				          	</md-input-container>
						</div>
					</div>
				</form>								
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-content>
					<md-divider></md-divider>
					<div fxLayout="row" class="">
						<div fxLayout="column" fxFlex class="">
							<h6 class="py-1 my-0 bg-orange pr-1">{{'Product'  | translate}}</h6>
							<md-divider></md-divider>
							<md-input-container floatPlaceholder="never" class="ml-1 my-1">
				            	<input mdInput [(ngModel)]="customer.product" name="product" placeholder="{{'Product'  | translate}}">
				          	</md-input-container>
						</div>
						<md-divider></md-divider>
						<div fxLayout="column" fxFlex class="">					
							<h6 class="py-1 my-0 pr-1 bg-orange">{{'Price' | translate}}</h6>
							<md-divider></md-divider>
							<md-input-container floatPlaceholder="never" class="ml-1  my-1">
				            	<input mdInput  [(ngModel)]="customer.price" name="price" placeholder="{{'Price'  | translate}}">
				          	</md-input-container>
						</div>
						<md-divider></md-divider>
						<div fxLayout="column" class="" fxFlex >
							<h6 class="py-1 my-0 pr-1 bg-orange">{{'Quantity' | translate}}</h6>
							<md-divider></md-divider>
							<md-input-container floatPlaceholder="never" class="ml-1 my-1">
				            	<input mdInput  [(ngModel)]="customer.quantity" name="quantity" placeholder="{{'Quantity' | translate}}">
				          	</md-input-container>							
						</div>
						<md-divider></md-divider>
						<div fxLayout="column" fxFlex class="">
							<h6 class="py-1 my-0 pr-1 bg-orange">{{'Total' | translate}}</h6>
							<md-divider></md-divider>
							<md-input-container floatPlaceholder="never" class="my-1">
				            	<input mdInput  [(ngModel)]="customer.total" name="total" placeholder="{{'Total' | translate}}">
				          	</md-input-container>						
						</div>
					</div>
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-actions class="pr-2">
				<button md-button md-raised-button color="primary">{{'Sign Up'  | translate}}</button>
				<button md-button md-raised-button color="primary">{{'Open The Printer' | translate}}</button>
			</md-card-actions>
			
		</md-card>				
	</div>
</div>